click
Flask
itsdangerous
Jinja2
MarkupSafe
python-dateutil
six
Werkzeug
gunicorn
flask-talisman
flask_seasurf
forex-python
requests
PyJWT
flask_login
pymongo[srv]
pytz
beautifulsoup4
isbnlib
xmltodict
rauth
Pillow
APScheduler
Flask-HTTPAuth
Flask-PyMongo