click
Flask
itsdangerous
Jinja2
MarkupSafe
python-dateutil
six
Werkzeug
gunicorn
flask-talisman
flask_seasurf
forex-python
APScheduler
requests
PyJWT
Flask-HTTPAuth
flask_login
pymongo[srv]
Flask-PyMongo
pytz
beautifulsoup4
isbnlib
xmltodict
rauth